#root {
  margin: 0 auto;
}

/* App.css */
.grid-row {
  display: flex;
}

.north {
  transform: rotate(0deg);
}

.east {
  transform: rotate(90deg);
}

.south {
  transform: rotate(180deg);
}

.west {
  transform: rotate(270deg);
}